<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <a class="navbar-brand brand" href="../home.html">EL TECHIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-lg-2 align-items-lg-center">
                <li class="nav-item"><span class="nav-link fw-semibold text-dark">Admin Panel</span></li>
                <li class="nav-item"><a class="nav-link" href="../admin/products.html">Products</a></li>
            </ul>
            <div class="d-flex flex-column flex-lg-row gap-2 align-items-lg-center">
                <form class="d-flex">
                    <label class="visually-hidden" for="admin-search">Search products</label>
                    <input id="admin-search" type="search" class="form-control" placeholder="Search products">
                </form>
                <a class="btn-base icon-btn" href="../admin/login.html">Logout</a>
            </div>
        </div>
    </div>
</nav>
