<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <a class="navbar-brand brand" href="../home.html">EL TECHIO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-lg-2 align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="../home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="../category.html">Laptops</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Phones</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Accessories</a></li>
            </ul>
            <div class="d-flex flex-column flex-lg-row gap-2 align-items-lg-center">
                <form class="d-flex" action="../search.html" method="GET">
                    <label class="visually-hidden" for="site-search">Search products</label>
                    <input id="site-search" name="q" type="search" class="form-control" placeholder="Search products">
                </form>
                <a class="btn-base icon-btn" href="../cart.html">Cart</a>
                <a class="btn-base btn-black" href="../login.html">Login</a>
            </div>
        </div>
    </div>
</nav>
